FPS_DoorLock_SMS_OTP/.vs/
FPS_DoorLock_SMS_OTP/FPS_DoorLock_SMS_OTP/FPS_DoorLock_SMS_OTP.vcxproj.user
FPS_DoorLock_SMS_OTP/FPS_DoorLock_SMS_OTP/FPS_DoorLock_SMS_OTP.vcxproj.filters
FPS_DoorLock_SMS_OTP/FPS_DoorLock_SMS_OTP/FPS_DoorLock_SMS_OTP.vcxproj
FPS_DoorLock_SMS_OTP/FPS_DoorLock_SMS_OTP/__vm/
FPS_DoorLock_SMS_OTP/FPS_DoorLock_SMS_OTP/Debug/
